body{
    background-color: white;
}

h1{
    font-size: 24pt;
    font-family: Cambria;
    color: aliceblue;
    text-align: center;
    background-color:orange;
    padding: 20px;
    margin: auto;
    width: 80%;
}

.planetArea{
    width:80%;
    text-align: center;
    margin:auto;
    font-family: Cambria;
    color:grey;
}

.buttons{
    width:30%;
    text-align: center;
    margin:auto;
    font-family: Cambria;
    color:grey;
}

input[type=text] {
  width:75%;
  padding: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid grey;
}

input[type=text]:focus {
  background-color: orange;
}

.hiddenArea{
  display: none;
}